[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
itchat = "*"
"ruamel.yaml" = "*"

[requires]
python_version = "3.8"
